name: Build test runner

on:
  push:
    # ff
  workflow_call:
    inputs:
      push:
        required: false
        type: boolean
        default: false

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set version
        id: version
        run: |
          tag=$(sed -nE 's/^version = "([^"]+)"/\1/p' topk-rs/Cargo.toml)
          echo "version=$tag" >> $GITHUB_OUTPUT

  build:
    name: "test-runner (${{ matrix.arch }})"
    runs-on: "public-${{ matrix.arch }}"
    needs: [version]
    strategy:
      fail-fast: true
      matrix:
        arch: [amd64, arm64]
    permissions:
      id-token: write
      contents: read
      packages: write
    env:
      FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: earthly/actions-setup@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: "0.8.5"
          use-cache: false

      - name: Login to ghcr.io
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Earthly build
        run: earthly --ci ${{ inputs.push && '--push' || '' }} +test-runner --registry ghcr.io --tag ${{ needs.version.outputs.version }}-${{ matrix.arch }}

  publish:
    name: "test-runner (publish)"
    runs-on: ubuntu-latest
    if: ${{ inputs.push || true }}
    needs:
      - build
    permissions:
      id-token: write
      contents: read
      packages: write
    steps:
      - name: Login to ghcr.io
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish manifest
        run: |
          tag="ghcr.io/topk-io/topk-test-runner:${{ inputs.tag || 'abc'}}"

          if ! docker manifest create $tag ${tag}-amd64 ${tag}-arm64; then
            echo "Failed to create manifest for $tag"
            exit 1
          fi

          if ! docker manifest push $tag; then
            echo "Failed to push manifest for $tag"
            exit 1
          fi
