name: Pull Request

on:
  pull_request:
    types: [synchronize, opened, reopened, labeled, unlabeled]

jobs:
  rust:
    name: Test Rust
    runs-on: ubuntu-latest-large
    if: ${{ contains(github.event.pull_request.labels.*.name, 'ready') }}
    env:
      FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@v4

      - name: Install earthly
        run: sudo bash -c "curl -L https://github.com/earthly/earthly/releases/latest/download/earthly-linux-amd64 -o /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly"

      - name: Rust tests
        run: earthly --secret TOPK_API_KEY +test-rs --region elastica
        env:
          TOPK_API_KEY: ${{ secrets.TOPK_API_KEY }}

  python:
    name: Test Python
    runs-on: ubuntu-latest-large
    if: ${{ contains(github.event.pull_request.labels.*.name, 'ready') }}
    env:
      FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@v4

      - name: Install earthly
        run: sudo bash -c "curl -L https://github.com/earthly/earthly/releases/latest/download/earthly-linux-amd64 -o /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly"

      - name: Python tests
        run: earthly --secret TOPK_API_KEY +test-py --region elastica
        env:
          TOPK_API_KEY: ${{ secrets.TOPK_API_KEY }}
  javascript:
    name: Test JavaScript
    runs-on: ubuntu-latest-large
    if: ${{ contains(github.event.pull_request.labels.*.name, 'ready') }}
    env:
      FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@v4

      - name: Install earthly
        run: sudo bash -c "curl -L https://github.com/earthly/earthly/releases/latest/download/earthly-linux-amd64 -o /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly"

      - name: JavaScript tests
        run: earthly --secret TOPK_API_KEY +test-js --region elastica
        env:
          TOPK_API_KEY: ${{ secrets.TOPK_API_KEY }}
  ready:
    name: Ready
    needs: [rust, python, javascript]
    runs-on: ubuntu-latest-large
    steps:
      - name: Ready
        run: echo "Ready"
